.header {
  background-color:#F1E7D8;
  padding: 20px 0;
  border-bottom: 2px solid red;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-nav {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.teachers-href-class{
  margin: 0;
  color:blue;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius:10px;
}